*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin: auto;
}
.container::after{
  content: "";
  display: table;
  clear: both;
}
[class*= "col-"] {
  float: left;
}
/* widht col */
.col-1 {
  width:calc((100%/12) * 1)
}
.col-2 {
  width:calc((100%/12)*2);
}
.col-3 {
  width:calc((100%/12)*3);
}
.col-4 {
  width:calc((100%/12)*4);
}
.col-5 {
  width:calc((100%/12)*5);
}
.col-6 {
  width:calc((100%/12)*6);
}
.col-7 {
  width:calc((100%/12)*7);
}
.col-8 {
  width:calc((100%/12)*8);
}
.col-9 {
  width:calc((100%/12)*9);
}
.col-10 {
  width:calc((100%/12)*10);
}
.col-11 {
  width:calc((100%/12)*11);
}
.col-12 {
  width:calc((100%/12)*12);
}
/* /width col */
/* off set */
.off-set-1 {
  margin-left:calc((100%/12)*1);
}
.off-set-2 {
  margin-left:calc((100%/12)*2);
}
.off-set-3 {
  margin-left:calc((100%/12)*3);
}
.off-set-4 {
  margin-left:calc((100%/12)*4);
}
.off-set-5 {
  margin-left:calc((100%/12)*5);
}
.off-set-6 {
  margin-left:calc((100%/12)*6);
}
.off-set-7 {
  margin-left:calc((100%12)*7);
}
.off-set-8 {
  margin-left:calc((100%/12)*8);
}
.off-set-9 {
  margin-left:calc((100%/12)*9);
}
.off-set-10 {
  margin-left:calc((100%/12)*10);
}
.off-set-11 {
  margin-left:calc((100%/12)*11);
}
/* /off-set */
